body {
    background-color: #f8f9fa;
}

h2 {
    color: #007bff;
}

.result {
    text-align: center;
}

#mensagemTroco {
    font-weight: bold;
    margin-top: 20px;
}

#detalheTroco {
    font-size: 1.2em;
}